*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
:root{
    --bg-color:#080808;
    --second-bg-color: #080808;
    --text-color:white;
    --main-color: burlywood;

}
body{
    background: var(--bg-color);
    color: var(--text-color);
}


#header {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    padding: 1rem 10%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: none; /* Remove the border since scrollbar acts as underline */
}


.header-scrollbar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 0%;
    height: 1px;
    background: burlywood;
    transition: width 0.2s ease-in-out;
    z-index: 101;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.navbar{
    width: 100%;
    height: 80px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 7%;
    margin-top: 10px;
}

.logo{
    width: 50px;
    margin-top: 3px;
    margin-left: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: burlywood;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-image{
    width: 50%;
    position: relative;
    right:5%;
}

.header-image img {
    width: 15%;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4 ease-in-out;
    margin-bottom: 100px;
}

.header-image img:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color);
}

.header-text{
    font-size: 30px;
    width: 100%;
    position: relative;
    text-align: center;
}

.header-text h1{
    font-size: 100px;
    margin-top: 10%;
    color:white;
}


.header-paragraph{
    width: 100%;
    position: relative;
    font-size: 16px;
    margin-top: 5%;
}

.header-paragraph p{
    margin-left: 25%;
    font-size: 20px;
    text-align: justify;
    text-justify:inter-word;
    color: white;
    width: 50%;
}

.header-paragraph p span{
    color: burlywood;
}

.home{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.row { 
    width: 100%;
    position: relative;
    bottom:65px;
    left:30px;
}


.row .column{
    float: left;
    position: relative;
    bottom: 36px;
    left:70px;
    margin-left: 10px;
}

.row .column img{
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: 0.3s;
}

.row .column img:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.row p{
    font-size: 18px;
    margin-top: 30px;
    color: white;
    position: relative;
    text-align: left;
    margin-left: 10px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    gap:10rem;
    background-color: var(--second-bg-color);
    background: linear-gradient(to right, var(--bg-color), var(--second-bg-color));
}

.about-image{
    position: relative;
    left:10%;
    background: var(--bg-color);
}


.about-image img{
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 25px;
}

.about-content{
    width: 50%;
    position: relative;
    left: 5%;
}


.about-content h2{
        font-size: 40px;
        width: 70%;
        margin-top: 10%;
        text-align: left;
        background: linear-gradient(to right, white,var(--main-color));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        text-align: justify;
        text-justify:inter-word;
}


.home-content .contact-button {
    text-align: center;
    margin-top: 30px;
}

.home-content .btn {
    display: inline-block;
    padding: 20px 60px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: var(--main-color);
    border-radius: 20px;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    position: relative;
    right:10%;
    bottom: 70%;
    margin-bottom: 200px;
}



.about-image-overlay{
    width: 550px;
    background-color: rgba(16,16,16, 0.9);
    border-radius: 25px;
    position: relative;
    bottom: 40px;
    right: 80px;
}

.about-image h3{
    font-size: 20px;
    margin:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to right, #A9A9A9,var(--main-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: lighter;
    text-align: justify;
    text-justify:inter-word;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
}


::-webkit-scrollbar-track {
    background: transparent;
}


.stack {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    margin-bottom: 100px;
}

.stack.show {
    opacity: 1;
    transform: translateY(0);
}



.card {
    width: 50vw;
    height: auto;
    background: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: -100px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    padding: 50px 20px;
    gap: 10px;
}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid white;
    position: relative;
}

.card-header h3, 
.card-header h4 {
    color: white;
    font-weight: bold;
    font-size: medium;
    margin: 0;
    padding-top: 5px;
}

.card h1 {
    font-size: 30px;
    font-weight: 700;
    width: auto;
    margin-left: 15px;
}

.card h2 {
    font-size: 18px;
    font-weight: normal;
    width: 80%;
margin-left: 100px;
    padding: 10px 0;
}

.card p {
    font-size: 18px;
    margin-top: 10px;
}

.card img {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}


@media (max-width: 768px) {
    .card {
        width: 90vw;
        padding: 30px 10px;
    }

    .card h1 {
        font-size: 24px;
    }

    .card h2 {
        font-size: 16px;
        width: 90%;
    }

    .card p {
        font-size: 14px;
    }
}



.card1 {
    width: 50vw;
    height: auto;
    background: #800000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: -100px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    padding: 50px 20px;
    gap: 10px;
}

.card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 20px;
    border-bottom: 1px solid white;
    position: relative;
    bottom: 10px;
}

.card-header h3, 
.card-header h4 {
    color: white;
    font-weight: bold;
    font-size: medium;
    margin: 0;
    padding-top: 5px;
}

.card1 h1 {
    font-size: 30px;
    font-weight: 700;
    width: auto;
}

.system {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.support, .develop {
    width: 48%;
    text-align: left;
    min-width: 200px; /* Ensures sections stay side by side */
    overflow-wrap: break-word;
}

.support h5, .develop h6 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.support p, .develop p {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: justify;
    text-justify:inter-word;
}

.card1 > p {
    font-size: 18px;
    margin-top: 10px;
}

.card1 img {
    border-radius: 25px;
    max-width: 40%;
    height: auto;
    margin-top: 15px;
}


.card2 {
    width: 50vw;
    height: auto;
    background: #F08080;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: -100px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    padding: 50px 20px;
    gap: 10px;
}

.card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 20px;
    border-bottom: 1px solid white;
    position: relative;
    bottom: 10px;
}

.card-header h3, 
.card-header h4 {
    color: white;
    font-weight: bold;
    font-size: medium;
    margin: 0;
    padding-top: 5px;
}

.card2 h1 {
    font-size: 30px;
    font-weight: 700;
    width: auto;
}

.card2 h2 {
    font-size: 18px;
    font-weight: normal;
    width: 80%;
    padding: 10px 0;
}

.card2 p {
    font-size: 18px;
    margin-top: 10px;
}

.card2 img {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    width: 70vw;
    position: relative;
    left: 15%;
}

.skills h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    text-align: left;
}

.skills p {
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
    max-width: 600px;
}


.skills-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}


.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 48%;
    max-width: 500px;
}


.skills-link {
    text-decoration: none;
    display: block;
    width: 100%;
}


.skills-box {
    display: flex;
    align-items: center;
    background: #101010;
    border: 1px solid var(--main-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


.skills-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


.skills-box .image-box {
    width: 50px;
    height: 50px;
    background: #181818;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border: 1px solid var(--main-color);
    flex-shrink: 0;
}


.skills-box .image-box img {
    width: 30px;
    height: auto;
}


.skills-text {
    display: flex;
    flex-direction: column;
}


.skills-text h1 {
    font-size: 18px;
    font-weight: bold;
    color: #C0C0C0;
    margin: 0;
}


.skills-text p {
    font-size: 14px;
    color: #707070;
    margin: 0;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .skills-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .skills-container {
        width: 90%;
    }
}

/* Footer Styling */
.footer {
    background: #101010;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.footer-about, 
.footer-social, 
.footer-contact {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer h2, 
.footer h3 {
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 14px;
    color: #ccc;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-social ul li a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.footer-social ul li a img:hover {
    transform: scale(1.2);
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #333;
    font-size: 14px;
    color: #ccc;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-social ul {
        justify-content: center;
    }
}

